/* You can add global styles to this file, and also import other style files */
body{
    background-color: black;
    color: white;
    font-family: "Verdana", Geneva, sans-serif;
/** font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif*/;
/**    font-family: "Georgia", serif;*/
/**    font-family: "Verdana", Geneva, sans-serif;*/
/**    font-family: "Tahoma", Geneva, sans-serif;*/
    /*cursor: none;*/
}
p {
    font-family: "Verdana", Geneva, sans-serif;
}